body {
    font-family: Helvetica;
}

.top {
    background-image: url('pattern.jpeg');
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

.brushes {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.blue {
    font-weight: bold;
    color: blue;
}

.frames {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;    
}